<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Meal Plan</title>
    </head>
    <body>
        <%- include('header'); %>
        <div id="myDIV" class="header">
            <h2 style="margin:5px">meal plan</h2>
            <h3>sunday</h3>
            <form method="POST" action="/meal?day=sunday">
                <input class="mealPlanInput" type="text" name="meal" value="<%= mealsList[0][1] %>">
                <input class="mealPlanInput" type="text" name="who_cooks" value="<%= mealsList[0][2] %>">
                <input type="submit" value="submit" class="addBtn"> 
            </form>
            <br>
            <br>
            <h3>monday</h3>
            <form method="POST" action="/meal?day=monday">
                <input class="mealPlanInput" type="text" name="meal" value="<%= mealsList[1][1] %>">
                <input class="mealPlanInput" type="text" name="who_cooks" value="<%= mealsList[1][2] %>">
                <input type="submit" value="submit" class="addBtn"> 
            </form>
            <br>
            <br>
            <h3>tuesday</h3>
            <form method="POST" action="/meal?day=tuesday">
                <input class="mealPlanInput" type="text" name="meal" value="<%= mealsList[2][1] %>">
                <input class="mealPlanInput" type="text" name="who_cooks" value="<%= mealsList[2][2] %>">
                <input type="submit" value="submit" class="addBtn"> 
            </form>
            <br>
            <br>
            <h3>wednesday</h3>
            <form method="POST" action="/meal?day=wednesday">
                <input class="mealPlanInput" type="text" name="meal" value="<%= mealsList[3][1] %>">
                <input class="mealPlanInput" type="text" name="who_cooks" value="<%= mealsList[3][2] %>">
                <input type="submit" value="submit" class="addBtn"> 
            </form>
            <br>
            <br>
            <h3>thursday</h3>
            <form method="POST" action="/meal?day=thursday">
                <input class="mealPlanInput" type="text" name="meal" value="<%= mealsList[4][1] %>">
                <input class="mealPlanInput" type="text" name="who_cooks" value="<%= mealsList[4][2] %>">
                <input type="submit" value="submit" class="addBtn"> 
            </form>
            <br>
            <br>
            <h3>friday</h3>
            <form method="POST" action="/meal?day=friday">
                <input class="mealPlanInput" type="text" name="meal" value="<%= mealsList[5][1] %>">
                <input class="mealPlanInput" type="text" name="who_cooks" value="<%= mealsList[5][2] %>">
                <input type="submit" value="submit" class="addBtn"> 
            </form>
            <br>
            <br>
            <h3>saturday</h3>
            <form method="POST" action="/meal?day=saturday">
                <input class="mealPlanInput" type="text" name="meal" value="<%= mealsList[6][1] %>">
                <input class="mealPlanInput" type="text" name="who_cooks" value="<%= mealsList[6][2] %>">
                <input type="submit" value="submit" class="addBtn"> 
            </form>
        </div>
    </body>
</html>