<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('head') %>
        <title>Meal Plan</title>
    </head>
    <body>
        <%- include('header', {selected: 'meal'}); %>
        <div id="myDIV" class="header">
            <h2 style="margin:5px">meal plan</h2>
            <% for(var i=0; i<mealsList.length; i++) { %>
            <h3><%=mealsList[i][0] %></h3>
                <form method="POST" action="/meal?day=<%= mealsList[i][0] %>">
                    <input class="mealPlanInput" type="text" name="meal" placeholder="meal" value="<%= mealsList[i][1] %>">
                    <input class="mealPlanInput" type="text" name="who_cooks" placeholder="chef de cuisine" value="<%= mealsList[i][2] %>">
                    <input type="submit" value="submit" class="genericBtn submitBtn"> 
                </form>
            <% } %>
        </div>
    </body>
</html>