<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Payment</title>
    </head>
    <body>
        <%- include('header'); %>
        <div id="myDIV" class="header">
            <h2 style="margin:5px">payment</h2>
            <form method="POST" action="/addPayment">
                <input class="paymentInput" type="text" id="item" name="item" placeholder="what?"> 
                <input class="paymentInput" type="text" id="cost" name="cost" placeholder="how much?">
                <input class="paymentInput" type="text" id="who_fronted" name="who_fronted" placeholder="who fronted?">
                <input type="submit" value="add" class="addBtn"> 
            </form>
        </div>

        <ul id="list">
            <% items.forEach(function(item) { %>
                <li id="<%= item[0] %>"><%= item[2] %> fronted <%= item[1] %> for <%= item[0] %><span class="close" onclick="location='http://localhost:5000/removePayment?item=<%= item[0] %>'">x</span></li> 
            <% }); %>
        </ul>
    </body>
</html>